= simple_form_for @post, html: {:multipart => true} do |f|
	= f.label :heads
	= file_field_tag "images[]", type: :file, multiple: true
	= f.input :title
	= f.input :link
	= f.input :description

	= f.button :submit
