= simple_form_for @post, html: {:multipart => true} do |f|
	= f.input :title
	= f.label :heads
	.input
		= file_field_tag "images[]", type: :file, multiple: true
	= f.input :description, :input_html => {:maxlength => 140}

	= f.button :submit
