#post_show
	%h1= @post.title
	%p.username
		Created by
		= @post.user.name
		about
		= time_ago_in_words(@post.created_at)
	.clearfix
		.post_image_description
			.description= simple_format(@post.description)
			- @heads.each do |head|
				= image_tag head.image.url(:medium)
		.post_data
			= link_to "Download Pack", download_post_path(@post)
			- if @post.user == current_user
				= link_to "Edit", edit_post_path(@post), class: "data"
				=link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data"

#comments
	%h2.comment_count= pluralize(@post.comments.count, "Comment")
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.name
			%p.content= comment.content

	= render 'comments/form'