!!!
%html
%head

	- if (defined?(@post.title)).nil?
		%title Headsdown
	- elsif current_page?('/posts/new')
		%title Headsdown - New Pack
	- else
		%title
			Headsdown - 
			= @post.title

	%link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= csrf_meta_tags
	= favicon_link_tag "favicon.png"

%body
	%header
		.wrapper.clearfix
			#logo= link_to "headsdown", root_path
			%nav
				- if user_signed_in?
					= link_to current_user.name, edit_user_registration_path
					= link_to "Add New Pack", new_post_path, class: "button"
				- else
					= link_to "Sign In", new_user_session_path
					= link_to "Sign Up", new_user_registration_path, class: "button"

	- if current_page?('/')
		=render partial: "intro"
	- else 

	.wrapper
		-# %p.notice= notice
		-# %p.alert= alert
		=yield

	%footer
		.wrapper
			%p
				Headsdown 
				= Time.now.year
				&emsp;|&emsp;
				Created by 
				= link_to "jhil", "http://twitter.com/jhilmd"
				&
				= link_to "nickaversano", "https://github.com/nickaversano"
				&emsp;|&emsp;
				= link_to "Contribute on Github", "https://github.com/jhil/heads_cc"